<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h1>Products</h1>
	<hr/>
	
	<table border="1">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Stock</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="product: ${allProducts}">
				<td th:text="${product.productId}"></td>
				<td th:text="${product.productTitle}"></td>
				<td th:text="${product.description}"></td>
				<td th:text="${product.price.price}"></td>
				<td th:text="${product.stock.stock}"></td>
			</tr>
		</tbody>
	</table>
	
	

</body>
</html>